*{
    background-color: pink;
    margin: 0;
}

body{
    display: flex;
    justify-content: space-around;
}

.corpo {
    text-align: center;
    margin-top: 40vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(12%, 10vw, 4vh);
}

p{
    color: #be007f;
    font-size: clamp(12%, 10vw, 4vh);
}

#idade{
    background-color: white;
    border-radius: 0.5vh;
    height: 4vh;
    width: 29vh;
    box-shadow: 0.1em 0.1em 0.4em #795e79;
    font-size: clamp(12%, 10vw, 1.5vh);
}

button{
    width: 10vh;
    height: 4vh;
    background-color: white;
    box-shadow: 0.1em 0.1em 0.4em #795e79;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(12%, 10vw, 1.5vh);
    border-radius: 0.5vh;
}

button:hover{
    background-color: #e099c8;
    transform: scale(1.05);
}
